@model Jeevan.Models.ViewModels.RequestInfoViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <title>Welcome</title>
</head>
<body>
    <div>
 @{         #region models
    
    #endregion 
    }
        <div id="patientInfo">
            @Html.DisplayFor(vm => vm.PatientInfo)
        </div>
        <div id="hlaInfo">    
            @Html.DisplayFor(vm => vm.HLAType)
        </div>
    </div>
</body>
</html>
