@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="@Url.Action("Create")" method=post id="requestInfo">
<div id="patientInfo">
    @Html.Partial("_RequestInfoPatient")
</div>
<div id="hlaInfo">
    @Html.Partial("_Search")
</div>
<br /><br />
    <div>
        <input type="submit" name="proceed" value="Proceed" />
        <input type="reset" name="cancel" value="Clear" />
    </div>
</form>
<div id="hlaResults">
</div>
<script type="text/javascript">
    $(function () {
      
    });

</script>