@{
    ViewBag.Title = "About";
}

<h2>About Jeevan Cord Blood Bank</h2>
<p><a href="http://www.jeevan.org"> Jeevan Blood Bank </a> (established in 1995), a community blood bank, set up Jeevan Cord Blood Bank  in 2008 to enable quick and affordable access of matching stem cells from donated cord blood to Indian Children living across the world with treatable disorders. Jeevan Cord Blood Bank is entirely funded by public donations and is a not for profit organisation. You too, can <a href="http://www.bethecure.in"> Be The Cure</a>.</p>

<h2> About the Quality Systems </h2>
<p> We understand your requirement.

Jeevan Cord Blood Bank stores stem cells harvested from donated umbilical cord blood from mothers of Indian origin. 

Jeevan follows the quality systems recommended by <a href="http://www.netcord.org"> Netcord </a>(please note – Jeevan is not accredited). 
</p>
<ol>

<li> Each unit is screened and found negative for HIV, HBV, HCV, (ELISA and Nucleic Acid Testing), HTLV Ab (ELISA), CMV IgM (ELISA), Syphilis, Malaria and Haemoglobinopathy screen.</li>

<li> The units will have a TNCC count of 50 – 90 x 107 </li>

<li> CD 34 count more than 1.25 x 106 </li>

<li> Viability of more than 85% at the time of cryo-preservation </li>

</ol>

<h2>How this site works?</h2>
<p>This is a preliminary screen . When you search, you will be shown the number of matches available (6/6 followed by 5/6). If you find a match submit the information required for someone from Jeevan to get in touch with your Physician.</p>